# macOs
.DS_Store

# Local User Data
data/*
!log1.csv
!log2.csv
!log3.csv
!log4.csv
!gendata.py

*gephi*

edges.csv
log.gephi
nodes.csv

**/exe/*
**log.db*
**.sqbpro

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/