# macOs
.DS_Store

# Local User Data
data/*
!log1.csv
!log2.csv
!log3.csv
!gendata.py
**/exe/*
**log.db*
**.sqbpro

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/